.homePageSection {
  height: 100vh;
  width: 100%;
  background-image: url("/public/assets/images/Space.jpg");
  position: relative;
}

.homePageContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titleDiv {
  justify-content: space-between;
  width: 1100px;
}

.homePageTitle {
  color: white;
  font-size: 8rem;
  font-weight: 700;
  z-index: 2;
  cursor: pointer;
}

.titleDiv:hover .homePageTitle {
  animation: flick 0.2s infinite;
}

.earthImage {
  height: 300px;
  position: absolute;
  z-index: 11;
  animation: rotate 60s infinite;
  margin-left: 20px;
  transition: all 0.3 ease-in-out;
  cursor: pointer;
}

.Tour {
  position: absolute;
  color: white;
  bottom: 20%;
  font-size: 1.2rem;
  animation: float 3s infinite;
  margin-left: 10px;
  text-shadow: 1px 1px 10px yellow;
}

/* Landing Page Section */

.LandingPageSection {
  height: 100vh;
  background-image: url("/public/assets/images/Space.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  position: relative;
}

.LandingPageContainer {
  height: 100%;
  display: flex;
}

.EarthImage2 {
  height: 1000px;
  position: absolute;
  top: -100px;
  left: -200px;
  animation: slide 2s, rotate 60s infinite linear;
  z-index: 2;
}

.aboutTitle {
  color: white;
  font-size: 4rem;
  animation: typing 4s steps(30, end), blink 0.5s step-end infinite 4s, appear 6s;
  border-right: 3px solid white;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  z-index: 2;
  font-weight: 700;
  margin-left: 10px;
}

.aboutText {
  color: white;
  max-width: 550px;
  z-index: 2;
  animation: appear 8s;
  margin-left: 20px;
  font-size: 1.3rem;
}

.iconsDiv {
  position: absolute;
  z-index: 1;
  top: 10%;
  margin: 0 auto;
  width: 80%;
  right: 0;
  animation: appear 12s, slideRight 20s infinite;
}

.expressIcon {
  filter: invert(1);
}

.btn1 {
  animation: appear 8s;
}

.proceedDiv {
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.ReturnDiv{
  position: absolute;
  bottom: 50px;
  left: 50px;
}


.proceed {
  background-color: transparent;
  border: solid white 1px;
  color: white;
}

/* Projects Section */

.projectsSection {
  background-image: url("/public/assets/images/Space.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.projectsContainer{
  min-height: 100vh;
gap: 16px;
display: flex;
flex-direction: column;
justify-content: center;
}

.SunImage {
  height: 180px;
  animation: DecreaseSize 3s, rotate 60s infinite;
  z-index: 3;
}

.ProjectsTitle {
  color: white;
  position: absolute;
  font-size: 19rem;
  font-weight: 700;
  z-index: 1;
  mix-blend-mode: difference;
  user-select: none;  
  pointer-events: none;  
}

.projectDiv {
  transition: 0.3s ease-in-out;
  cursor: pointer;
  z-index: 3;
  position: relative;
  display: flex;
  align-items: center;
 justify-content: center;
 pointer-events: auto;
}

.projectName {
  color: white;
  position: absolute;
  z-index: 3;
  font-weight: 700;
  mix-blend-mode: overlay;
  display: none;
  transition: 0.3s ease-in-out;
  font-size: 2rem;
}

.projectDiv:hover .projectName {
  display: flex;
}

.projectDiv:hover  {
    transform: scale(1.05);
}



/* Project Component Section */

.ProjectComponentSection{
  background-image: url("/public/assets/images/Space.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.ProjectComponentSection .container{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.ProjectComponentTitle{
  color: white;
  font-size: 4rem;
  text-wrap: nowrap;
  font-weight: 700;
}

.mainImage{
  height: 400px;
  width: 100%;
  object-fit: cover;

}

.smallImagesDiv img{
  border: 3px solid black;
}

.descriptionDiv h2{
  color: white;
  font-weight: 700;
  max-width: 700px;
  font-size: 3rem;
}


.descriptionDiv p{
  color: white;
  font-weight: 300;
  max-width: 500px;
  font-size: 1.2rem;

}

.btn-primary{
  color: white;
  background-color: #1a1a1a
}

.btn-secondary{
  color: white;
  background-color: #1a1a1a;
  border: solid 1px white !important;
}

